<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Weather
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="card-background-page">

  <ion-card *ngIf="todayWeather">
    <img src="{{ todayWeather.img }}"/>
    <div class="card-day">{{ todayWeather.day }}</div>
    <div class="card-temperature">{{ todayWeather.temperature }}°C</div>
    <div class="card-humidity">{{ todayWeather.humidity }}% d'humidité</div>
  </ion-card>  
    
  <ion-list no-lines *ngFor="let weather of weatherList" value="weather" class="list">
    <ion-card>
        <button ion-item>
            <ion-icon *ngIf="weather.humidity>=75" name="sunny" item-start></ion-icon>
            {{ weather.day }} {{ weather.temperature }}°C {{ weather.humidity }}% d'humidité
            <ion-icon *ngIf="weather.humidity<75" name="cloud" item-start></ion-icon>
        </button>
    </ion-card>
  </ion-list>

  </ion-content>