<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Weather
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content class="card-background-page">

  <ion-card *ngIf="todayWeather">
    <img src="{{ todayWeather.img }}"/>
    <div class="card-day1">{{ todayWeather.day }}</div>
    <div class="card-temperature1">{{ todayWeather.temperature }}°C</div>
    <div class="card-humidity1">{{ todayWeather.humidity }}% d'humidité</div>
  </ion-card>  
    
  <ion-list no-lines *ngFor="let weather of weatherList" value="weather">
    <ion-card>
      <img src="{{ weather.img }}"/>
      <div class="card-day">{{ weather.day }}</div>
      <div class="card-temperature">{{ weather.temperature }}°C</div>
      <div class="card-humidity">{{ weather.humidity }}% d'humidité</div>
      </ion-card>
  </ion-list>
    
  </ion-content>